.container {
    @apply max-w-7xl mx-auto px-2;
}

.wrapper{
  display:grid;
  height:100vh;
  place-items:center
}

@media(min-width:640px) {
    .container{
        @apply px-6;
    }
}

@media(min-width:1024px) {
    .container{
        @apply px-8;
    }
}
